<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @menu.nome %>
</p>

<p>
  <strong>Prezzo:</strong>
  <%= @menu.prezzo %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
